/* Este repositório base fué creado para ayudarte en caso que no sepas como comenzar, recuerda que el portafolio es tu carta de presentación y debes darle tu cara, por eso te invitamos a personalizarlo según tu estilo y preferencias no te limites apenas al layout propuesto en figma  
*/
:root {
    --color-de-fondo: #bbf3f0;
    --color-de-fondo-menu: #ffffff;
    --color-de-link: #000000;
}

body {
    background-image: url(assets/jairph-rC6fkXIiSF4-unsplash.jpg);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    line-height: 1.6;
    background-position:center ;
    background-size: auto;

}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-de-link);
}

/* ------------------------------ Sección Menú -------------------------------*/

.cabecera {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--color-de-fondo-menu);
    background: #ffffffa4;
    margin: 1rem;
    border-radius: 1rem;
    position: fixed;
    width: 95%;
    z-index: 1;
}

.cabecera__logo {
    /* Ajuste para pantallas pequeñas */
    margin: 1rem;
    width: 1rem;
}

.cabecera__titulo {
    font-size: 1.2rem;


}

.navegacion__lista {
    display: none;
}


    /* ------------------------------ Sección Presentación ------------------------------ */
.presentacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    margin: 2rem;
    text-align: center;
}

.presentacion__foto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #fff; /* Borde blanco alrededor de la foto */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.presentacion__contenedor {
    max-width: 800px;
    margin-top: 20px;
}

.presentacion__titulo {
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    font-weight: 600;
}

.presentacion__subtitulo {
    font-size: 1.2rem;
    color: #f3f3f3;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
    margin-bottom: 20px;
    text-align: justify;
    font-style: italic;
}

.redes {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.redes__img a {
    display: inline-block;
    transition: transform 0.3s ease;
}

.redes__img a:hover {
    transform: translateY(-5px); /* Efecto de hover para las redes */
}

.redes__img img {
    width: 40px;
    height: 40px;
    transition: opacity 0.3s ease;
}

.redes__img img:hover {
    opacity: 0.7; /* Efecto de hover en las imágenes de las redes */
}



/* ------------------------------ Sección sobre mí ----------------------------------*/
.sobre-mi,
.habilidades,
.aficiones,
.formacion,
.proyectos{
    padding: 1rem;
    text-align: center;
    align-content: center;
    border-radius: 5rem;
    margin: 2rem;
    background: #fafafa10;
    backdrop-filter: blur(0.2rem);

}


.sobre-mi__texto
/*.presentacion__subtitulo*/{
    text-align: justify;
    color: white;
    text-shadow: 1px 1px 0px #000000;
    font-size: 18px;
}

/*--------------Sección de Habilidades y ección de Aficiones  ------------------------------*/
.habilidades__nombre,
.aficiones__nombre{
    color: white;
    text-shadow:  1px 2px 0px #000000;
}

.aficiones__titulo,
.habilidades__titulo,
.sobre-mi__titulo,
.contacto__titulo,
.formacion__titulo,
.titulo-proyecto{  
    font-family: 'Roboto Mono', 'Arial', sans-serif; 
    font-size: 2rem;
    color: white; /* Color del título */
    text-align: center;
    margin-bottom: 3rem;
    text-shadow:  1px 2px 0px #000000;
}
.habilidades__lista,
.aficiones__lista,
.formacion__lista{
  
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0;
    flex-wrap: wrap;
}

.habilidades__elemento,
.aficiones__elemento,
.formacion__elemento{
    border-radius: 1rem;
    padding: 1.5rem;
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}


.habilidades__elemento:hover,
.aficiones__elemento:hover,
.formacion__elemento:hover{
    transform: translateY(-8px); /* Efecto de desplazamiento más pronunciado */
    background-color: #f8d964; /* Cambia a amarillo */
}

.habilidades__elemento{

    background: linear-gradient(180deg, rgba(112, 5, 5, 0.575) 0%, rgba(253, 156, 45, 0.432) 100%);

    
}
.aficiones__elemento{

    background: linear-gradient(180deg, rgba(5, 96, 112, 0.575) 0%, rgba(121, 224, 250, 0.452) 100%);


}
.formacion__elemento{

    background: linear-gradient(180deg, rgba(199, 171, 46, 0.575) 0%, rgba(253, 156, 45, 0.432) 100%);


}
/*------------------------------ Sección de Proyectos --------------------------------*/


.Name{
    text-align: center;
    font-size: 18px;
    align-items: center;
}
.formacion__nombre{
    color: white;   
    text-shadow:  1px 2px 0px #000000;

}
.formacion__iconos{

    width: 250px;
}
/*------------------------------ Experiencia Profesional---------------------------------*/
  
.Proyecto {
    display: flex;
    align-items: center;
    background-color: #ffffff; /* Color de fondo del proyecto */
    border-radius: 10px;
    padding: 2rem;
    margin-bottom: 2rem;
    background: linear-gradient(180deg, rgba(190, 190, 163, 0.247) 0%, rgba(253, 156, 45, 0.192) 100%);
    backdrop-filter: blur(0.2rem);
}
  
.Proyecto-alura {
    width: 30%; /* Ajusta el tamaño de la imagen */
    height: auto;
    border-radius: 10px;
    margin-right: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}
  
.Proyecto-alura:hover {
    transform: scale(1.05); /* Efecto de hover para aumentar el tamaño */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra al pasar el cursor */
}
  
.proyecto__detalles {
    flex: 1;
    text-align: left;
    
}
  
.proyecto__detalles h3 {
    font-family: 'Roboto Mono', 'Arial', sans-serif; /* Fuente de repuesto */
    font-size: 1.5rem;
    color: white; /* Color del título del proyecto */
    text-shadow:  1px 2px 0px #000000;
    
}
  

.btn{
    flex-direction: row;
}
.Proyecto-alura{

    max-width: 20%;
    height: auto;
    border-radius: 10px;
}

.btn-repositorio{
  background:linear-gradient(270deg, rgba(74, 208, 241, 0.575) 0%, rgba(45, 83, 253, 0.432) 100%);
  color:#fff;
  border:none;
  position:relative;
  height:45px;
  font-size:11px;
  padding:2 1em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  flex-direction: row;

}
.btn-repositorio:hover{
  background:linear-gradient(130deg, rgba(74, 208, 241, 0.575) 0%, rgba(45, 83, 253, 0.432) 100%);
  color:#e5ff00;
}
.btn-repositorio:before,.btn-repositorio:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #d43737;
  transition:400ms ease all;
}
.btn-repositorio:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btn-repositorio:hover:before,.btn-repositorio:hover:after{
  width:100%;
  transition:800ms ease all;
}

/*------------------------------ Sección de Contacto ---------------------------------*/

.contacto {
    background: #f3f8c8c7;
    padding: 60px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-out;
}

.contacto__titulo {
    font-size: 2.5rem;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
}

/* Estilo de los campos de texto */
.contacto__formulario {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacto__campo {
    padding: 12px 20px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.contacto__campo:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.3);
}

/* Estilo de los campos de texto - área de texto */
.contacto__campo--textarea {
    height: 150px;
    resize: none;
}

/* Estilo del botón */
.contacto__boton {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.contacto__boton:hover {
    background-color: #45a049;
    transform: translateY(-3px);
}

/* Animaciones */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animaciones de los campos de texto */
.contacto__campo {
    opacity: 0;
    transform: translateY(10px);
    animation: slideIn 0.5s ease-out forwards;
}

.contacto__campo:nth-child(1) {
    animation-delay: 0.2s;
}

.contacto__campo:nth-child(2) {
    animation-delay: 0.4s;
}

.contacto__campo:nth-child(3) {
    animation-delay: 0.6s;
}

/* Animación del botón */
.contacto__boton {
    opacity: 0;
    transform: translateY(10px);
    animation: slideInButton 0.5s ease-out forwards;
    animation-delay: 0.8s;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInButton {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.foot{
    display: flex;
    font-size: 20px;
    justify-content: center;
    background: #835d53c7;
    text-align: center;
    align-items: flex-start;
    padding: 1rem;
    align-content: center;

}

/* ------------------------------ Responsividad ---------------------------------------*/

/* Tablets y pantallas más grandes */

@media (min-width: 768px) {
    .cabecera {
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
        width: 98%;

    }

    .cabecera__logo {
        max-width: 100px;
    }

    .cabecera__titulo {
        font-size: 1rem;

    }

    .navegacion__lista{
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        margin-top: 0;
        margin-right: 15px;
        font-size: small;
    }

    .habilidades__elemento {
        width: 100px;
        height: 100px;
        padding: 1rem;
    }
    .btn-repositorio{
        padding:0 1em;
        height:60px;
        font-size:1.6em;
    }
    .contacto {
        padding: 40px 15px;
    }

    .contacto__titulo {
        font-size: 2rem;
    }

    .contacto__campo, .contacto__boton {
        font-size: 1rem;
    }
    
    .presentacion {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 30px;
    }

    .presentacion__foto {
        width: 200px;
        height: 200px;
    }

    .presentacion__titulo {
        font-size: 3rem;
    }

    .presentacion__subtitulo {
        font-size: 1.5rem;
    }
    .redes__img img {
        width: 120px;
        height: 120px;
    }
    
    .navegacion__elemento a {
        text-decoration: none;
        color: #000000;
        font-size: 15px;
        transition: background-color 1s ease;
        border-radius: 1rem;
        padding: 0.3rem;
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.3s ease, background-color 1.5s ease;
    }
    .navegacion__elemento a:hover {
        background:linear-gradient(130deg, rgba(74, 208, 241, 0.575) 0%, rgba(45, 83, 253, 0.432) 100%);
        background-color: #aedb34;
        border-radius: 25px;
        transform: translateY(-3px); /* Efecto de desplazamiento más pronunciado */
    }
}

/* Pantallas grandes */

@media (min-width: 1024px) {
    .navegacion__elemento a {
        font-size: 25px;
        padding: 1.5rem;
    }
    .cabecera__titulo {
        font-size: 1.8rem;
        text-align: center;

    }
    .cabecera__logo {
        width: 4rem;

    }
    .sobre-mi__texto{
        text-align: justify;
        font-size: 30px;
    }
    
    .presentacion {
        flex-direction: row;
        justify-content: flex-start;
        gap: 50px;
    }

    .presentacion__foto {
        width: 200px;
        height: 200px;
    }

    .presentacion__titulo {
        font-size: 3.5rem;
    }

    .presentacion__subtitulo {
        font-size: 1.7rem;
    }
    .aficiones__titulo,
    .habilidades__titulo,
    .sobre-mi__titulo,
    .contacto__titulo,
    .formacion__titulo,
    .titulo-proyecto{  
        font-size: 3rem;

      
    }
    .habilidades__nombre,
    .aficiones__nombre{

        font-size: 1.5rem;
    }
}
