/* Este repositório base fué creado para ayudarte en caso que no sepas como comenzar, recuerda que el portafolio es tu carta de presentación y debes darle tu cara, por eso te invitamos a personalizarlo según tu estilo y preferencias no te limites apenas al layout propuesto en figma  
*/
:root {
    --color-de-fondo: #bbf3f0;
    --color-de-fondo-menu: #ffffff;
    --color-de-link: #000000;
}

body {
    background-image: url(assets/jairph-rC6fkXIiSF4-unsplash.jpg);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    line-height: 1.6;
    background-position:center ;
    background-size: auto;

}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-de-link);
}

/* ------------------------------ Sección Menú -------------------------------*/
.cabecera {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    background-color: var(--color-de-fondo-menu);
    background: #ffffffa4;
    margin: 1rem;
    border-radius: 1rem;
    position: fixed;
    width: 98%;
    z-index: 1;
}

.cabecera__logo {
    max-width: 100px; /* Ajuste para pantallas pequeñas */
    margin: 1rem;
}

.cabecera__titulo {
    font-size: 1.2rem;
    padding-left: 3rem;

}

.navegacion__lista {
    display: none;
    }

.navegacion__elemento a {
    font-size: 0.9rem;
}
/* ------------------------------ Sección Presentación ------------------------------*/

.presentacion{
    display: flex;
    padding-top: 95px;
    padding-left: 15px;
    flex-direction: column;
    margin: 0.2rem;
}
.presentacion__foto{
    width: 250px;
    

}
.presentacion__contenedor{

    align-content: center;


}
.presentacion__subtitulo{
    text-align: justify;
    

}


.redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    font-size:larger;
    font-weight: bolder;

}
    
/* ------------------------------ Sección sobre mí ----------------------------------*/

.sobre-mi{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    margin  : 2rem;
    background: #fafafa10;
    backdrop-filter: blur(0.2rem);
    border-radius: 5rem;

}
.redes__img{
    display: flex;
    flex-direction: row;
    align-content: center;
}
.sobre-mi__texto,
.presentacion__subtitulo{
    text-align: justify;
    color: white;
    text-shadow: 1px 1px 0px #000000;
    font-size: 18px;
}

.presentacion__titulo{
    text-shadow: 1px 1px 0px #000000;
    color: white;
}

/*--------------Sección de Habilidades y ección de Aficiones  ------------------------------*/


.habilidades,
.aficiones{
    padding: 1rem;
    text-align: center;
    align-content: center;
    border-radius: 5rem;
    margin: 2rem;
    background: #fafafa10;
    backdrop-filter: blur(0.2rem);


}

.habilidades__nombre,
.aficiones__nombre{
    color: white;
    text-shadow:  1px 2px 0px #000000;
}

.aficiones__titulo,
.habilidades__titulo,
.sobre-mi__titulo{
    font-size: 2rem;
    color: #ffffff;
    text-shadow: 3px 4px 0px #000000;
}
.habilidades__lista,
.aficiones__lista{
  
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0;
    flex-wrap: wrap;
}
.habilidades__elemento,
.aficiones__elemento{
    border-radius: 1rem;
    padding: 1.5rem;
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgba(5, 110, 112, 0.575) 0%, rgba(45, 253, 243, 0.432) 100%);

}

/*------------------------------ Sección de Proyectos --------------------------------*/


/*------------------------------ Sección de Contacto ---------------------------------*/


/* ------------------------------ Responsividad ---------------------------------------*/

/* Tablets y pantallas más grandes */

@media (min-width: 768px) {
    .cabecera {
        flex-direction: row;
        justify-content: space-between;

    }

    .cabecera__logo {
        max-width: 100px;
    }

    .cabecera__titulo {
        font-size: 1.5rem;
    }

    .navegacion__lista {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-top: 0;
        margin-right: 0;
    }

    .navegacion__elemento a {
        font-size: 1rem;
    }

    .habilidades__elemento {
        width: 100px;
        height: 100px;
        padding: 1rem;
    }
}

/* Pantallas grandes */

@media (min-width: 1024px) {
    .cabecera__titulo {
        font-size: 1.8rem;
    }

    .navegacion__elemento a {
        font-size: 1.1rem;
    }
}
