/* Este repositório base fué creado para ayudarte en caso que no sepas como comenzar, recuerda que el portafolio es tu carta de presentación y debes darle tu cara, por eso te invitamos a personalizarlo según tu estilo y preferencias no te limites apenas al layout propuesto en figma  
*/
:root {
    --color-de-fondo: #bbf3f0;
    --color-de-fondo-menu: #ffffff;
    --color-de-link: #000000;
}

body {
    background-image: url(assets/jairph-rC6fkXIiSF4-unsplash.jpg);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    line-height: 1.6;
    background-position:center ;
    background-size: auto;

}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-de-link);
}

/* ------------------------------ Sección Menú -------------------------------*/
.cabecera {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    background-color: var(--color-de-fondo-menu);
    background: #ffffffa4;
    margin: 1rem;
    border-radius: 1rem;
    position: fixed;
    width: 95%;
    z-index: 1;
}

.cabecera__logo {
    max-width: 100px; /* Ajuste para pantallas pequeñas */
    margin: 1rem;
}

.cabecera__titulo {
    font-size: 1.2rem;

}

.navegacion__lista {
    display: none;
}



/* ------------------------------ Sección Presentación ------------------------------*/

.presentacion{
    display: flex;
    padding-top: 95px;
    padding-left: 15px;
    flex-direction: column;
    margin: 1rem;
}
.presentacion__foto{
    width: 250px;
    

}
.presentacion__contenedor{

    align-content: center;


}
.presentacion__subtitulo{
    text-align: justify;
    

}
.redes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
    font-size:larger;
    font-weight: bolder;
    

}
    
/* ------------------------------ Sección sobre mí ----------------------------------*/
.sobre-mi,
.habilidades,
.aficiones,
.formacion,
.proyectos{
    padding: 1rem;
    text-align: center;
    align-content: center;
    border-radius: 5rem;
    margin: 2rem;
    background: #fafafa10;
    backdrop-filter: blur(0.2rem);

}

.redes__img{
    display: flex;
    flex-direction: row;
    align-content: center;
}
.sobre-mi__texto,
.presentacion__subtitulo{
    text-align: justify;
    color: white;
    text-shadow: 1px 1px 0px #000000;
    font-size: 18px;
}

.presentacion__titulo{
    text-shadow: 1px 1px 0px #000000;
    color: white;
}

/*--------------Sección de Habilidades y ección de Aficiones  ------------------------------*/
.habilidades__nombre,
.aficiones__nombre{
    color: white;
    text-shadow:  1px 2px 0px #000000;
}

.aficiones__titulo,
.habilidades__titulo,
.sobre-mi__titulo,
.contacto__titulo,
.formacion__titulo,
.titulo-proyecto{  
    font-family: 'Roboto Mono', 'Arial', sans-serif; 
    font-size: 2rem;
    color: white; /* Color del título */
    text-align: center;
    margin-bottom: 3rem;
    text-shadow:  1px 2px 0px #000000;
}
.habilidades__lista,
.aficiones__lista,
.formacion__lista{
  
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0;
    flex-wrap: wrap;
}

.habilidades__elemento,
.aficiones__elemento,
.formacion__elemento{
    border-radius: 1rem;
    padding: 1.5rem;
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}


.habilidades__elemento:hover,
.aficiones__elemento:hover,
.formacion__elemento:hover{
    transform: translateY(-8px); /* Efecto de desplazamiento más pronunciado */
    background-color: #f8d964; /* Cambia a amarillo */
}

.habilidades__elemento{

    background: linear-gradient(180deg, rgba(112, 5, 5, 0.575) 0%, rgba(253, 156, 45, 0.432) 100%);

    
}
.aficiones__elemento{

    background: linear-gradient(180deg, rgba(5, 96, 112, 0.575) 0%, rgba(121, 224, 250, 0.452) 100%);


}
.formacion__elemento{

    background: linear-gradient(180deg, rgba(199, 171, 46, 0.575) 0%, rgba(253, 156, 45, 0.432) 100%);


}
/*------------------------------ Sección de Proyectos --------------------------------*/


.Name{
    text-align: center;
    font-size: 18px;
    align-items: center;
}
.formacion__nombre{
    color: white;   
    text-shadow:  1px 2px 0px #000000;

}
.formacion__iconos{

    width: 250px;
}
/*------------------------------ Experiencia Profesional---------------------------------*/
  
.Proyecto {
    display: flex;
    align-items: center;
    background-color: #ffffff; /* Color de fondo del proyecto */
    border-radius: 10px;
    padding: 2rem;
    margin-bottom: 2rem;
    background: linear-gradient(180deg, rgba(190, 190, 163, 0.247) 0%, rgba(253, 156, 45, 0.192) 100%);
    backdrop-filter: blur(0.2rem);
}
  
.Proyecto-alura {
    width: 30%; /* Ajusta el tamaño de la imagen */
    height: auto;
    border-radius: 10px;
    margin-right: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}
  
.Proyecto-alura:hover {
    transform: scale(1.05); /* Efecto de hover para aumentar el tamaño */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra al pasar el cursor */
}
  
.proyecto__detalles {
    flex: 1;
    text-align: left;
    
}
  
.proyecto__detalles h3 {
    font-family: 'Roboto Mono', 'Arial', sans-serif; /* Fuente de repuesto */
    font-size: 1.5rem;
    color: white; /* Color del título del proyecto */
    text-shadow:  1px 2px 0px #000000;
    
}
  

.btn{
    flex-direction: row;
}
.Proyecto-alura{

    max-width: 20%;
    height: auto;
    border-radius: 10px;
}

.btn-repositorio{
  background:linear-gradient(270deg, rgba(74, 208, 241, 0.575) 0%, rgba(45, 83, 253, 0.432) 100%);
  color:#fff;
  border:none;
  position:relative;
  height:45px;
  font-size:1em;
  padding:2 1em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  flex-direction: row;

}
.btn-repositorio:hover{
  background:linear-gradient(130deg, rgba(74, 208, 241, 0.575) 0%, rgba(45, 83, 253, 0.432) 100%);
  color:#e5ff00;
}
.btn-repositorio:before,.btn-repositorio:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #d43737;
  transition:400ms ease all;
}
.btn-repositorio:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btn-repositorio:hover:before,.btn-repositorio:hover:after{
  width:100%;
  transition:800ms ease all;
}

/*------------------------------ Sección de Contacto ---------------------------------*/
.contacto{
    padding: 1rem;
    text-align: center;
    align-content: center;
    background: #f3f8c8c7;
}


/* ------------------------------ Responsividad ---------------------------------------*/

/* Tablets y pantallas más grandes */

@media (min-width: 768px) {
    .cabecera {
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
        width: 98%;

    }

    .cabecera__logo {
        max-width: 100px;
    }

    .cabecera__titulo {
        font-size: 1rem;

    }

    .navegacion__lista{
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        margin-top: 0;
        margin-right: 15px;
        font-size: small;
    }

    .navegacion__elemento,
    .navegacion__Contacto {
        font-size: 1rem;
    }

    .habilidades__elemento {
        width: 100px;
        height: 100px;
        padding: 1rem;
    }
    .btn-repositorio{
        padding:0 1em;
        height:60px;
        font-size:1.6em;
    }
}
/* Pantallas grandes */

@media (min-width: 1024px) {
    .cabecera__titulo {
        font-size: 1.8rem;

    }
    .presentacion__contenedor{

        align-content: center;
    
    
    }
    .presentacion__titulo{
        font-size: 50px;
    }
    .sobre-mi__texto,
    .presentacion__subtitulo{
        text-align: justify;
        font-size: 30px;
    }
    

    
}